div {
    background: red;
}
    h1 {
        margin-bottom: 30px;    
        padding: 60px;
        font-size: 80px;

    }
    p {
        text-decoration: underline overline;
        font-weight: bold;
        color: mistyrose;

    }